*.o

# ignore phpized files
src/Makefile.global
src/acinclude.m4
src/aclocal.m4
src/autom4te.cache
src/build
src/config.guess
src/config.h.in
src/config.sub
src/configure
src/configure.in
src/install-sh
src/iltmain.sh
src/missing
src/mkinstalldirs
src/run-tests.php