<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true"
>
    <php>
      <const name="PHP_GIT_FIXTURE_DIR" value="./tests/fixtures/" />
    </php>
    <testsuites>
        <testsuite name="PECL Git Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>
